FOR LOOP

In [5]:
lst =[1,2,3,4,5]
for x in lst:
    print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [5]:
name = "manish"
for x in name:
    print(x,end=(' '))

m a n i s h

In [6]:
for number in range(0, 51):
    if number % 2 == 0:
        print(number,end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [7]:

text = "Hello,i am manish wbt yOu , who r U ?"
vowels = "aeiouAEIOU"
vowel_count = 0
for char in text:
    if char in vowels:
        vowel_count += 1
print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 10

while loop

In [8]:
x=1
while x<5:
    print(x,end=' ')
    x+=1

1 2 3 4

In [1]:
# BREAK STATEMENT

In [2]:
for x in range(1,6):
    if x==3:
        break
    print(x,end=' ')

1 2

CONTINOUS STATEMENT

In [3]:
for x in range(1,6):
    if x==3:
        continue
    print(x,end=' ')

1 2 4 5

LARGEST AMONG THREEE

In [ ]:

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))


if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3


print("The largest number is:", largest)

GRADE ON BASE ON MARKS

In [ ]:
marks = int(input("Enter your marks (0-100): "))

if marks >= 90 and marks <= 100:
    grade = 'A'
elif marks >= 80 and marks <= 89:
    grade = 'B'
elif marks >= 70 and marks <= 79:
    grade = 'C'
elif marks < 70:
    grade = 'Fail'
else:
    grade = 'Invalid marks'

print("Your grade is:", grade)

Your grade is: Invalid marks

TO PRINT 0 TO 5 VIA WHILE LOOP

In [ ]:
i = 0
while i <= 5:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5